:root{
    --bg-color:#0f2862;
    --backup-color:#091f36;
    --text-color:#ededed;
    --main1-color:#00abf0;
    --main2-color:#2b6db9;
}

body{
   
    background-color: var(--backup-color);
    color:var(--text-color);
    margin:0;
    font-family:Kreon,Arial;
    padding-top:20px;

}

ul li {

    font-size:22px;
}

nav{

    border-bottom: 4px solid var(--main1-color);
    box-shadow:0 2px 0px var(--text-color) ;
}

 ul li a{

    cursor: pointer;
    color:var(--text-color);
}
.links {
    color: #ededed; 
}
